.inlineTable {
    width: 100%;
}

.tbody {
    .edit {
        cursor: pointer;
    }
    .edit:hover {
        text-decoration: underline;
    }
    .delete {
        @extend .edit;
    }
    .submit {
        @extend .edit;
    }
}
.tbody:hover {
    background: #d9d9d9;

    .edit {
        color: red;
    }
    .delete {
        color: #b30000;
    }
    .submit {
        color: blue;
    }
}

.tbody.closed {
    td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 20px;
    }
    td:last-child {
        padding-right: 10px;
    }
}

.tbody.open {
    text-align: center;

    td {
        width: 1%;
    }
    td:first-child {
        text-align: left;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 5px;
    }
    td:last-child {
        text-align: right;
        padding-right: 5px;
    }

    .pullCenter {
        td:first-child {
            text-align: right;
            padding-right: 10px;
        }
        td:last-child {
            text-align: left;
            padding-left: 10px;
        }
    }

    .head {
        padding-top: 15px;
        text-align: center !important;
        font-weight: bold;
    }
    .long {
        width: 100%;
        text-align: center !important;
    }
    .error {
        color: red;
    }
}
